<!DOCTYPE HTML>

<html lang = "pl">

<head>
	<meta charset = "utf-8"/> 
	<title>CONTACT</title>
	<meta name = "description" content ="">
	<meta name = "keywords" content = ""/>
	<link rel = "stylesheet" href = "../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="../javascript/ValidationContact.js" defer></script>
</head>

 <body>
	<header>
		<nav>
            <h1 class = "logo">QuestStore NAT</h1>
			<ul class = "menu">
				<li><a href= "index.html">MENU</a></li>
				<li><a href= "contact.html" target = "_blank" class = "link">CONTACT</a></li>
				<li><a href ="login.html" target = "_blank" class = "link">LOGIN</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<article>
				<header>
					<h2>Contact Us!</h2>
				</header>
			<div class="page">
			<div class="content">

			<div class="contact">
			<label for="name">Name</label>
			<input type="text" id="name" placeholder="Name...">
			<label for="email">Email</label>
			<input type="text" id="email" placeholder="Email...">
			<label for="subject">Subject</label>
			<input type="text" id="subject" placeholder="Title...">
			<label for="message">Message</label>
			<textarea style="height: 200px" id="message" placeholder="Message text..."></textarea>
			<button id="send">Send</button>
			</div>
			</div>
			</div>

        </article>
        <script src="../javascript/ValidationContact.js" defer></script>
    </main>
    
</body>


</html>  