<!DOCTYPE HTML>

<html lang = "pl">

<head>
	<meta charset = "utf-8"/> 
	<title>CONTACT</title>
	<meta name = "description" content ="">
	<meta name = "keywords" content = ""/>
	<link rel = "stylesheet" href = "../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="../javascript/ValidationContact.js" defer></script>
</head>

 <body>
	<div class="container">
	<header>
		<img class="logo" src="../images/QuestStore-NAT_logo_nobcg.png" alt="QuestStore-NAT"/>
		<nav class="main-navigation"> 
			<ul>
				<li><a href= "index.html">MENU</a></li>
				<li><a href= "contact.html" target = "_blank" class = "link">CONTACT</a></li>
				<div class="dropdown">
					<div class="dropdown-link">Login</div>
					<div class="dropdown__content">
						<label class="dropdown--margin">Email:</label><br>
						<input id="login_email" class="dropdown--margin dropdown--input" type="text" placeholder="email" required><br>
						<label class="dropdown--margin">Password:</label><br>
						<input id="login_password" class="dropdown--margin dropdown--input" type="password" placeholder="password" required><br>
						<button id="login_button" class="dropdown--margin dropdown__button" type="submit">Log In</button>
					</div>
				</div>
			</ul>
		</nav>
	</header>
	<main>
		<article>
			<div class = "second_header_contact">Contact Us!</div>
			<div class="contact">
			<input type="text" id="name" placeholder="Name...">
			<input type="text" id="email" placeholder="Email...">
			<input type="text" id="subject" placeholder="Title...">
			<textarea style="height: 200px" id="message" placeholder="Message text..."></textarea>
			<button id="send">Send</button>
			</div>

        </article>
        <script src="../javascript/ValidationContact.js" defer></script>
    </main>
    </div>
</body>


</html>  
