<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuestStore-NAT</title>
    <link href="../styles/normalize.css" rel="stylesheet">
    <!--Third party resources-->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="icon" href="../images/QuestStore-NAT_icon.jpg" type="image">
    <link href="../styles/fontello/css/queststore-nat.css" rel="stylesheet">
    <!--Our styles-->
    <link href="../styles/main.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header>
            <img class="logo" src="../images/QuestStore-NAT_logo_nobcg.png" alt="QuestStore-NAT"/>
            <nav class="main-navigation">     
                <ul>
                    <li><a href="index.html">Main</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </nav>
        </header>

        <div class="landing">
            <aside class="landing__sidebar-menu">
                <div class="">
                    <h3>Main Menu:</h3>
                    <ul>
                        <li><button class="dropdown__button"><a href="profile.html">Show My Profile</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">Artifacts Shop</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">Rewards</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">All Students</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">Add Student</a></button></li>
                        <li><button class="dropdown__button"><a href="addQuestReward.html">Add Quest/Reward</a></button></li>
                        <li><button class="dropdown__button"><a href="mentorsView.html">All Mentors</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">Add Mentor</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">Add Classroom</a></button></li>
                    </ul>
                </div>
            </aside>

            <div class="landing__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.</p>
            </div>
        </div>

        <footer class="main-footer">
            <div class="main-footer__social">
                <p>Follow us:</p>
                <i class="icon-facebook"></i>
                <i class="icon-linkedin"></i>
                <i class="icon-youtube"></i>
                <i class="icon-instagram"></i>
                <i class="icon-twitter"></i>
            </div>
        </footer>
    </div>
</body>
</html>
