<aside class="landing__sidebar-menu">
    <div class="">
        <h3>Main Menu:</h3>
        <ul>
            <li><button class="dropdown__button"><a href="profile.html">Show My Profile</a></button></li>
            <li><button class="dropdown__button"><a href="allRewards.html">Artifacts Shop</a></button></li>
            <li><button class="dropdown__button"><a href="allQuests.html">Quests</a></button></li>
            <li><button class="dropdown__button"><a href="profile.html">All Students</a></button></li>
            <li><button class="dropdown__button"><a href="profile.html">Add Student</a></button></li>
            <li><button class="dropdown__button"><a href="addQuestReward.html">Add Quest/Artifact</a></button></li>
            <li><button class="dropdown__button"><a href="mentorsView.html">All Mentors</a></button></li>
            <li><button class="dropdown__button"><a href="profile.html">Add Mentor</a></button></li>
            <li><button class="dropdown__button"><a href="profile.html">Add Classroom</a></button></li>
        </ul>
    </div>
</aside>