@model IEnumerable<Artifact>
@{
    ViewData["Title"] = "Artifact";
}

<div class="container">
        <div w3-include-html="navBarLogged.html"></div>

        <div class="landing">
            <div w3-include-html="sidebar.html"></div>


            <div id="landing__content" class="landing__content">
                <div class="landing__content__wrapper">
                    <h3 class="landing__content--border landing__content--margin">Would you like to buy something for yourself?</h3>
                    @foreach (var artifact in Model)
                    {
                        <div class="questreward">
                            <h3 class="questreward__title">@artifact.Name</h3>
                            <h3 class="questreward__cost">@artifact.Cost</h3>
                            <p class="questreward__description">@artifact.Description</p>
                        </div>
                    }
                </div>
                <div id="dividerh3" class="landing__content__wrapper">
                    <h3 class="landing__content--border landing__content--margin">Would you like to buy something for the group?</h3>
                </div>
                

                <div id="popup" class="popup">
                    <div class="popup__overlay"></div>
                    <div class="popup__content">
                        <div class="popup__close-btn" onclick="togglePopup()">&times;</div>
                        <h3>  </h3>
                        <p>Would you like to buy this artifact?</p>
                        <button id="quest-reward-add" class="dropdown__button dropdown--margin button--color--individual" type="submit" onclick="togglePopup()">BUY</button>
                    </div>
                </div>

                <div id="popup--group" class="popup">
                    <div class="popup__overlay"></div>
                    <div class="popup__content">
                        <div class="popup__close-btn" onclick="togglePopupGroup()">&times;</div>
                        <h3>  </h3>
                        <p>Would you like to buy this artifact for group?</p>
                        <button id="quest-reward-add" class="dropdown__button dropdown--margin button--color--group" type="submit" onclick="togglePopupGroup()">BUY</button>
                    </div>
                </div>
            </div>
        </div>


        <div w3-include-html="footer.html"></div>
    </div>