@inject QuestStoreNAT.web.Services.ICurrentSession Session

@{
    ViewData["Title"] = "Welcome Page";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">
        <div class="panelWelcome">
            <div class="welcomeHeader">WELCOME<br><span id="nameStudent">@Session.LoggedUser.FirstName !</span></div>
        </div>

</div>