@inject QuestStoreNAT.web.Services.ICurrentSession Session
@model QuestStoreNAT.web.Models.Credentials

@{
    ViewData["Title"] = "AddCredentials";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

        @if ( Session.LoggedUserRole == Role.Admin )
        {

            <div id="landing__content" class="landing__content landing__content-justify ">
                <form id="form-quest-reward" asp-controller="Credentials" asp-action="AddCredentialsAsAdmin" method="post" class="form-width">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form">
                        <h3 class="dropdown--margin">Add Credentials</h3>

                        <label asp-for="Email" class="dropdown--margin"></label><br />
                        <input asp-for="Email" class="dropdown--input dropdown--margin" /><br />
                        <span asp-validation-for="Email" class="text-danger"></span><br />


                        <label asp-for="Password" class="dropdown--margin"></label><br />
                        <input asp-for="Password" class="dropdown--input dropdown--margin" /><br />
                        <span asp-validation-for="Password" class="text-danger"></span><br />


                        <label asp-for="Role" class="dropdown--margin"></label><br />
                        <select asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()" class="dropdown--input dropdown--margin">
                            <option value="">Please select</option>
                        </select><br />
                        <span asp-validation-for="Role" class="text-danger"></span><br />
                    </div>
                    <div class="form__submit">
                        <input type="submit" value="Add Credentials" class="dropdown__button dropdown--margin" />
                    </div>
                </form>
            </div>
        }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
