@inject QuestStoreNAT.web.Services.ICurrentSession Session
@model QuestStoreNAT.web.Models.Classroom

@{
    ViewData["Title"] = "AddClassroom";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

        @if ( Session.LoggedUserRole == Role.Admin )
        {

            <div id="landing__content" class="landing__content landing__content-justify ">
                <form id="form-quest-reward" asp-controller="Classroom" asp-action="Create" method="post" class="form-width">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form">
                        <h3 class="dropdown--margin">Add Classroom</h3>

                        <label asp-for="Name" class="dropdown--margin"></label><br />
                        <input asp-for="Name" class="dropdown--input dropdown--margin" /><br />
                        <span asp-validation-for="Name" class="text-danger"></span><br />
                    </div>
                    <div class="form__submit">
                        <input type="submit" value="Add Classroom" class="dropdown__button dropdown--margin" />
                    </div>
                </form>
            </div>
        }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
